form {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 1rem;
  padding: 1rem;

  input {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;

    &[type="number"] {
      width: 4rem;
      color: orange;
    }
  }

  .linear-equation {
    font-size: 1.5rem;
    display: flex;
    width: auto;
  }
}
